config.stopBubbling = true

lombok.addLombokGeneratedAnnotation = true
lombok.accessors.chain = true
lombok.copyableAnnotations += jakarta.inject.Inject

lombok.allArgsConstructor.flagUsage=ERROR
lombok.noArgsConstructor.flagUsage=ERROR
lombok.builder.flagUsage = ERROR
lombok.value.flagUsage = ERROR
lombok.sneakythrows.flagUsage = ERROR
lombok.wither.flagUsage = ERROR
lombok.noArgsConstructor.flagUsage=ERROR
lombok.allArgsConstructor.flagUsage=ERROR
